<li class="permission perm[%%PERMCODE%%] [%%PERM_STATUS_[%%PERMCODE%%]%%]">
      <div class="permission-icon">
            <img src="/static/media/icon_[%%PERMCODE%%].png" alt="[%%PERMCODE%%] Icon" class="icon">
      </div>
      <div class="permission-content">
         <h3 class="permission-title">[%%PERM_[%%PERMCODE%%]_TITLE%%]</h3>
         <p class="permission-desc">[%%PERM_[%%PERMCODE%%]_DESC%%]</p>
      </div>
      <div class="permission-status">
            <img class="status ready" src="/static/media/icon_READY.png">
            <a class="href miss" href="[%%VERIFYURL%%]?apiKey=[%%APIKEY%%]&code=[%%PERMCODE%%]" target="_blank"><img class="status miss" src="/static/media/icon_MISS.png">[%%WORD_VERIFY%%]</a>
            <img class="status loggedout" src="/static/media/icon_NA.png">
      </div>
   </li>